https://book.coalastudy.com/data-science-lv1/week2/stage1

In [1]:
print('Hello World!')

Hello World!

# 큰 제목: 안녕하세요?


## 작은 제목: 테스트입니다.


*기울기*


**진하게**


`파이썬` `데이터` `사이언스`

# 큰 제목

## 제목

### 제목

#### 제목

##### 제목

###### 제목

# 순서 없는 리스트
- 순서 없는 리스트 목록1
- 순서 없는 리스트 목록2
  - 앞에 두칸 띄고
    - 또 두칸 띄고
    
    
# 순서 있는 리스트
1. 순서 있는 리스트 목록1
1. 순서 있는 리스트 목록2
1. 순서 있는 리스트 목록3

# 이미지, 링크

---


## 이미지
![이미지설명](https://gblobscdn.gitbook.com/assets%2F-LeR-GoH6BL7vjJGC8as%2F-LeR-Xs49WNTJmZIKLYU%2F-LeR-ZFXrydshp0H0zgm%2Fimage%20(387).png?alt=media)


## 링크
[링크](http://naver.com)

# 기타

---


## 글자 진하게
** 진하게 표시**


## 코드 넣기
```python
mag = input('내용을 입력해주세요')
print('파이썬 코드', mag)
```

## 글 중간에 코드 넣기
글 중간에 `코드` 넣기


## 인용구
> 인용(끝에 스페이스바 2번!)  
> 내용

# 표
이름|전화번호|이메일
-|-|-
A|010|a@a.com
B|010|b@b.com

In [2]:
# 라이브러리 import 하기

import pandas as pd
import numpy as np

# # 미션 1

# # 마크다운 연습기

---


## # 지금까지 배운 내용
1. 큰 제목 넣기
2. 리스트 넣기
3. 표 넣기
4. 기타


---


## # 정리
문법|사용법
-|-
큰 제목|#을 사용
리스트|-혹은 1.사용


---


## # 마무리
```python
print('Hello World!')
```

https://book.coalastudy.com/data-science-lv1/week2/stage2

## 1. 변수
- 무언가를 저장해두는 곳
- 숫자 혹은 문자 같은 자료를 잠시 저장해두는 곳

### # 숫자

In [3]:
a = 1
b = 2
c = -1231
d = -123.53323
print(a,b,c,d)

1 2 -1231 -123.53323

In [4]:
add = 133 +321
print(add)

454

In [5]:
res = 3 + (2 * 5)
print(res)

13

In [6]:
res = res / 3
print(res)

4.333333333333333

In [7]:
print(1 + 2 - 1231)

-1228

In [8]:
print(a + b + c)

-1228

### # 문자열

In [9]:
a = 'Hello Wolrd'
print(a)

b = '안녕 세상'
print(b)

Hello Wolrd
안녕 세상

In [10]:
a = 'Hi!'
print(a)

Hi!

In [11]:
b = a
print(b)

Hi!

In [12]:
longName = '''여러줄에 걸쳐 글을 쓰려면?
크리스티아누
호날두
두스
산투스
아베이루'''
print(longName)

여러줄에 걸쳐 글을 쓰려면?
크리스티아누
호날두
두스
산투스
아베이루

In [13]:
# 참고
print(10 % 3)

1

## 미션
변수 활용 퀴즈

In [15]:
# 1. 문자를 더하면?

a = 'my name is '
b = 'Django'
print(a+b)

my name is Django

In [16]:
# 2. 문자형에 들어 있는 숫자끼리 더하면?
num1 = '1234'
num2 = '4321'
print(num1 + num2)

12344321

In [17]:
# 3. K는 어떤 값이 될까요?
K = 'P'
P = 123
print(K)

P

In [18]:
# 참고

a = 'hi'
print(a + ',' + 'hello')

hi,hello

## 2. if
- 특정 조건에서 이 구문을 실행하라
- 제시한 조건이 맞으면 범위 안의 구문(탭)을 실행하는 기능을 가지고 있다

In [19]:
age = 25
if age > 19:
    print('성인입니다')
else:
    print('청소년입니다')

성인입니다

In [20]:
age = 15

if age >= 14 and age <= 16:
    print('중학생 할인혜택이 적용됩니다.')
else:
    print('할인 대상자가 아닙니다.')

중학생 할인혜택이 적용됩니다.

In [21]:
score = 85

if score >= 90:
    print('수')
elif score >= 80:
    print('우')
elif score >= 70:
    print('미')
elif score >= 60:
    print('양')
else:
    print('가')

우

In [22]:
score = 85

if score >= 90:
    print('수')
if score < 90 and score >= 80:
    print('우')
if score < 80 and score >= 70:
    print('미')
if score < 70 and score >= 60:
    print('양')
if score < 60:
    print('가')

우

In [23]:
age = 25
score = 75

if age >= 20:
    if score >= 80:
        print('합격')
    else:
        print('불합격')
else:
    if score >= 70:
        print('합격')
    else:
        print('불합격')

불합격

## list, dictionary 
- 데이터를 담는 표, 이름표로 담는 표는 딕셔너리

In [25]:
myname = "박청용"
birth = 650101
addr = "서울 마포 공덕"

person_info = [myname, birth, addr, "남자", 1100]

print(person_info[0])
print(person_info[1])
print(person_info[4])

박청용
650101
1100

In [26]:
myname = "박청용"
birth = 650101
addr = "서울 마포 공덕"

user_info = {
    "name": myname,
    "birth": birth,
    "address": addr,
    "gender": "남자",
    "point": 1100
}

print(user_info["name"])
print(user_info["birth"])
print(user_info["point"])

박청용
650101
1100

In [28]:
person_info2 = ["박지성", 810225, "맨체스터", "남자", 13000]
user_list = [person_info, person_info2, user_info]

print(user_list[0])
print(user_list[1])
print(user_list[1][2])
print(user_list[2]["address"])

['박청용', 650101, '서울 마포 공덕', '남자', 1100]
['박지성', 810225, '맨체스터', '남자', 13000]
맨체스터
서울 마포 공덕

# Challenge1 - 전화번호부 만들기

In [29]:
phonebook = [{
    'name': '박지성',
    'phone': '01040281234'
}, {
    'name': '이청용',
    'phone': '01012344321'
}, {
    'name': '손흥민',
    'phone': '01007070202'
}]

# 1단계
print('1단계: 전체 출력하기')
print(phonebook)

# 2단계
print('-----------------')
print('2단계: 이청용 정보만 출력하기')
print(phonebook[1])

1단계: 전체 출력하기
[{'name': '박지성', 'phone': '01040281234'}, {'name': '이청용', 'phone': '01012344321'}, {'name': '손흥민', 'phone': '01007070202'}]
-----------------
2단계: 이청용 정보만 출력하기
{'name': '이청용', 'phone': '01012344321'}

1. phonebook은 어떤 자료형 일까요?  [                  ] ex. 숫자형, 문자형, 리스트, 딕셔너리, …

2. phonebook 안에 넣을 수 있는 자료형 중 3가지만 적어주세요.  [                  ] [                  ] [                  ] (무수히 많음)

3. phonebook의 첫번째 값만 출력하려면 어떤 구문이 필요할까요?  [                                                             ]


---

1. 딕셔너리
2. 문자열, 숫자, 리스트 등
3. 인덱싱

In [32]:
phonebook[0]

{'name': '박지성', 'phone': '01040281234'}