# 2장. 변수를 소개합니다

## 01. 변수가 무엇이죠?

In [1]:
x = 100
print(x)

100

## 02. 변수는 수를 저장합니다.

In [2]:
x = 100
x = 200
print(x)

200

In [3]:
x = 100
y = 200
sum = x+y
print(sum)

300

## 03. '='는 특별해요
- 대입을 뜻함

In [4]:
x = 100
y = 200
x = y
print('x=',x)
print('y=',y)

x= 200
y= 200

In [5]:
score = 10
score = score + 1
print(score)

11

## 04. 변수는 문자열을 저장합니다

In [6]:
name1 = '홍길동'
name2 = '성춘향'
address = '서울시 종로구 1번지'

print(name1)
print(name2)
print(address)

홍길동
성춘향
서울시 종로구 1번지

In [7]:
print('23'+'45')
print(23+56)

2345
79

## 05. 변수의 이름 짓기
- 규칙:\
1) 영문자와 숫자, 언더바(_) 이용\
2) 중간에 공백이 있어선 안됨\
3) 숫자로 시작할 수 없음\
4) 영문자는 대/소문자를 구별함

## 06. 한 번에 여러 값을 출력하기

In [8]:
x = 100
y = 200
sum = x+y
print(x,'과',y,'의 합은', sum,'입니다.')

100 과 200 의 합은 300 입니다.

## 07. 문자열 입력받기

In [9]:
a = input()

5

In [10]:
a

'5'

In [11]:
a = input('입력')

입력Hello

In [12]:
a

'Hello'

In [13]:
name = input('이름을 입력하시오:')
print(name, '씨, 안녕하세요?')
print("파이썬에 오신 것을 환영합니다.")

이름을 입력하시오:홍길동
홍길동 씨, 안녕하세요?
파이썬에 오신 것을 환영합니다.

## 08. 수 입력받기

In [15]:
x = int(input('첫 번째 정수를 입력하시오:'))
y = int(input('두 번째 정수를 입력하시오:'))
sum = x + y
print(x,'과', y, '의 합은', sum, '입니다.')

첫 번째 정수를 입력하시오:300
두 번째 정수를 입력하시오:400
300 과 400 의 합은 700 입니다.

In [16]:
x = int(input('첫 번째 정수를 입력하시오:'))
y = int(input('두 번째 정수를 입력하시오:'))

print(x,"+", y, "=", x + y)
print(x,"-", y, "=", x - y)
print(x,"*", y, "=", x * y)
print(x,"/", y, "=", x / y)

첫 번째 정수를 입력하시오:300
두 번째 정수를 입력하시오:400
300 + 400 = 700
300 - 400 = -100
300 * 400 = 120000
300 / 400 = 0.75

## Lab. 변수는 어디에 유용할까?

In [17]:
print("반지름이 10인 원의 넓이:", 10 * 10 * 3.14)
print("반지름이 20인 원의 넓이:", 20 * 20 * 3.14)
print("반지름이 30인 원의 넓이:", 30 * 30 * 3.14)
print("반지름이 40인 원의 넓이:", 40 * 40 * 3.14)
print("반지름이 50인 원의 넓이:", 50 * 50 * 3.14)

반지름이 10인 원의 넓이: 314.0
반지름이 20인 원의 넓이: 1256.0
반지름이 30인 원의 넓이: 2826.0
반지름이 40인 원의 넓이: 5024.0
반지름이 50인 원의 넓이: 7850.0

## Lab. 내가 원하는 원 그리기

In [18]:
# import turtle
# t = turtle.Turtle()
# t.shape("turtle")

# radius = int(input("원의 반지름을 입력하시오: "))
# color = input("원의 색깔을 입력하시오: ")
# t.color(color)
# t.begin_fill()
# t.circle(radius)
# t.end_fill()

## Lab. 천둥번개가 발생한 곳은 얼마나 떨어져 있나?

In [19]:
s = int(input("측정 시간(초) 입력:"))
d = 340 * s
print("자신의 위치에서 번개가 친 장소까지의 거리=", d, "m")

측정 시간(초) 입력:3
자신의 위치에서 번개가 친 장소까지의 거리= 1020 m

--- seYi